.plans-card-dashboard {
  margin: 2%;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      border: none;
      background-color: #6f00ff;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      i {
        color: white;
      }
    }
  }
}
