<app-header />

<div class="home">
  <div class="image">
    <div class="home-title">
      <h1>MURASAKI</h1>
      <p>
        Conheça um site dedicado a pessoas que querem aprender japonês, explorar
        a cultura japonesa e compartilhar suas experiências de estudo!
      </p>

      <a href="" class="button-home">
        Começe sua jornada <i class="fa-solid fa-chevron-right"></i>
      </a>
    </div>
  </div>
  <div class="cards">
    <app-card />
    <app-card />
    <app-card />
    <app-card />
    <app-card />
  </div>
</div>

<app-footer />
