.backlog-area {
  padding: 20px;
  background-color: #0a0a0a;
  min-height: 100vh;
  color: #fff;
}

.backlog-table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #333;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #333;
  }
}

th {
  background-color: #111;
}

tr:hover {
  background-color: #0a0520;
}
