.card {
	background-color: white;
	border-radius: 10px;
	padding: 1% 3% 3% 3%;
	margin: 1%;
	width: 70%;

	h1{
		font-size: 20px;
		font-weight: 600;
		color: #3c0d7a;
	}

	h2{
		font-size: 17px;
		font-weight: 300;
		color: #3c0d7a;
	}

	h3{
		padding: 5px 0;
		font-size: 13px;
		font-weight: 200;
	}
}

.tag {
	display: flex;
	justify-content: center;
	background-color: #3c0d7a;
	width: 50px;
	color: white;
	border-radius: 25px;
	padding: 5px;
	margin-bottom: 2%;
}