<app-header/>
<div>
	<div class="image"></div>
	<div class="lessons-area">
		<div class="side-bar">
		  <input type="text" placeholder="Pesquisar pelo título"/>
		  <section>
		  <h1>Níveis de dificuldade</h1>
		  <div class="options">
			  <input type="checkbox" id="checkbox-n5" />
			  <label for="checkbox-n5" class="custom-checkbox"></label>
			  <p>N5</p>
		  </div>
	  
		  <div class="options">
			  <input type="checkbox" id="checkbox-n4" />
			  <label for="checkbox-n4" class="custom-checkbox"></label>
			  <p>N4</p>
		  </div>
	  
		  <div class="options">
			  <input type="checkbox" id="checkbox-n3" />
			  <label for="checkbox-n3" class="custom-checkbox"></label>
			  <p>N3</p>
		  </div>
	  
		  <div class="options">
			  <input type="checkbox" id="checkbox-n2" />
			  <label for="checkbox-n2" class="custom-checkbox"></label>
			  <p>N2</p>
		  </div>
	  
		  <div class="options">
			  <input type="checkbox" id="checkbox-n1" />
			  <label for="checkbox-n1" class="custom-checkbox"></label>
			  <p>N1</p>
		  </div>
		  </section>
		</div>
	  
		<div class="lessons">
		  <div class="text">
			  <h1>Aprenda Japonês com Facilidade</h1>
			  <p>Nesta seção, você terá acesso a aulas de japonês, exercícios interativos, flashcards do Anki para download e um relatório de desempenho personalizado para acompanhar sua evolução nos estudos de forma prática e eficiente.</p>
	</div>
		<app-lesson-card />
		<app-lesson-card />
		<app-lesson-card />
		<app-lesson-card />
		<app-lesson-card />
	</div>
  </div>
  
</div>

<app-footer />
