.report-card {
  margin: 5%;
  align-items: center;
  border-radius: 10px;
  background-color: #0a0520;
  padding: 5%;
  text-align: left;

  h1 {
    font-size: 15px;
    font-weight: 200;
    color: white;
    padding-bottom: 10px;
  }

  a {
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding-bottom: 10px;
    text-decoration: none;
    color: #6714d3;
  }

  h2 {
    font-size: 15px;
    font-weight: 100;
    color: white;
    padding: 10px 0;
  }

  h3 {
    color: white;
  }

  p {
    color: white;
    padding: 10px 0;
  }

  button {
    border: none;
    cursor: pointer;
    border-radius: 5%;
    margin: 10px 0;
    padding: 10px;
    color: white;
    background-color: #695c7a; // Quando completar usar essa cor #6714d3
    font-size: 20px;
  }
}
