.user-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 2% 5%;
  background-color: #0a0520;
  padding: 2% 3%;
  border-radius: 10px;
  justify-items: center;
  align-items: center;

  p {
    font-weight: 200;
    font-size: 12px;
    color: white;
  }

  h1 {
    font-weight: 300;
    color: white;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    color: white;
  }

  select {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
  }

  button {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6714d3;
    color: white;
    width: 150px;
  }

  .close-button {
    cursor: pointer;
    border: none;
    background-color: red;
    border-radius: 5px;
    padding: 5px 7px;
    width: 40px;

    i {
      font-size: 25px;
      color: white;
    }
  }
}
