.log-card {
  display: flex;
  margin: 2% 5%;
  background-color: #0a0520;
  padding: 2% 3%;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  width: 700px;
  margin-right: 20px;

  p {
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

  h1 {
    font-weight: 100;
    font-size: 15px;
    color: white;
  }

  h2 {
    font-size: 15px;
    font-weight: 200;
    color: white;
    padding: 0 20px;
  }
}
